@let products = ( products$ | async)!;

@if (products) {
    <h1>Products: ( {{products.length}} )</h1>
} 

<ul class="pill-group">
     
    @for (product of products | sort; track product.id; let i = $index) {
       
        <li class="pill">
            @switch (product.category) {
                @case ('electronics') {⌨️}
                @case ('jewelery') {💎}
                @default {🏷️}
            }
            <a [routerLink]="[product.id]">{{product.title}} </a>
        </li>
    } @empty {
        <p>No Products Found!</p>
    }
</ul>

<!-- @if (selectedProduct) {
    <p><strong>{{productDetails.product()!.title}}</strong></p>
} -->


<!-- <h1 *ngIf="expression">Products: ( {{products.length}} )</h1> -->
<!-- <h1 *ngIf="products.length > 0; else noProducts">
    Products ({{products.length}})
</h1>

<ng-template #noProducts>
<p>No products Found!</p>
</ng-template> -->